Новый комментарий на сайте пончиков:
<br/>
<div style="font-style: italic">
<span style="display: inline; font-style: normal;font-weight: bold"><%=@comment.profile.user_name%>:</span>  <%= @comment.text%>
</div>
<br/>
История:
<% @comment.commentable.comments.each do |c|%>
  <% if @comment.id != c.id%>
    <div style="font-style: italic">
    <span style="display: inline; font-style: normal;font-weight: bold"><%=c.profile.user_name%> <%=c.created_at.in_time_zone(@comment.profile.user.zone).strftime("%d/%m/%Y %H:%M")%>:</span>  <%= c.text%>
  <%end%>
  </div> 
<%end%>

<div style="font-style: italic">
<span style="display: inline; font-style: normal;font-weight: bold"><%=@comment.commentable.profile.user_name%> <%=@comment.commentable.created_at.in_time_zone(@comment.profile.user.zone).strftime("%d/%m/%Y %H:%M")%>:</span>  <%= @comment.commentable.content%>
</div> 

<br/>
<div>
Ответить:  <%=@url%>
</div>  


